<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    {% block stylesheets %}
        {#{{ encore_entry_link_tags('app') }}#}
        {{ encore_entry_link_tags('register') }}
    {% endblock %}

    {% block javascripts %}
        {#{{ encore_entry_script_tags('app') }}#}
      {{ encore_entry_script_tags('register_js') }}
    {% endblock %}
</head>
<body>
{% embed "app.html.twig" %}
{% endembed %}
{% block body %}
    <div class="register-container">
        <div class="form-data">
            <h1>Hello, dear.</h1>
            {{ form_start(registerForm) }}
                {{ form_widget(registerForm) }}
            {{ form_end(registerForm) }}
        </div>

        <div class="show-skills">
            <h1>Your skills:</h1>
            <div v-if="skillsArray.length<=10" class="allSkills">
               <div  class="skill"  v-for="skill in skillsArray" :key="skills"  >
                   {{ "{{ skill }}" }}
                   <button v-on:click="removeElement(skill)">X</button>
               </div>
            </div>
            <p v-else> Too much!</p>
        </div>


    </div>
    </div>
{% endblock %}

</body>
</html>
