<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">

    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
        {{ encore_entry_link_tags('register') }}
    {% endblock %}

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
      {{ encore_entry_script_tags('register_js') }}
    {% endblock %}
</head>


{% block body %}
    {% embed "app.html.twig" %}{% endembed %}
    <div class="register-container">
        <div class="form-data">
            <h1>Hello, dear.</h1>
            {{ form_start(registerForm) }}
                {{ form_widget(registerForm) }}
            {{ form_end(registerForm) }}
        </div>

    </div>

{% endblock %}


</html>
